@import url("https://fonts.googleapis.com/css?family=Fugaz+One|Sonsie+One|Montserrat");

html {
  background-color: rgb(244, 96, 54);
  font-family: Fugaz One;
}

h1 {
  color: White;
  font-family: Sonsie One;
  text-align: center;
}

/* Overview of added Recipes */
.overview {
  align-self: center;
  background-color: rgb(8, 76, 97);
  width: 600px;
  margin: auto;
  border: 4px solid rgb(8, 76, 97);
  border-radius: 12px;
  height: 140px;
}

.flat {
  border: 1px solid rgb(244, 96, 54);
  background: none;
  box-shadow: none;
  width: 100%;
  /* border-radius: 0px; */
  display: block;
  color: white;
  text-align: left;
  padding: 5px;
  font-family: Fugaz One;
  font-size: 20px;
  /* margin-left: 10px; */
}

.items {
  padding-left: 0px;
  height: 110px;
  overflow-y: scroll;
  background-color: rgb(72, 29, 36);
}

/* Details View */
.outerElement {
  font-size: 20;
  color: white;
  background-color: rgb(8, 76, 97);
  width: 600px;
  border: 4px solid rgb(8, 76, 97);
  border-radius: 12px;
  margin: auto;
  margin-top: 20px;
}

.top {
  display: inline;
}

.top.right {
  float: right;
}

#titleOutput {
  margin-left: 10px;
  font-size: 30px;
}

.normalButton {
  color: white;
  background-color: transparent;
  border: 0;
  margin: 10px;
}

.innerElement {
  background-color: rgb(72, 29, 36);
  color: white;
  padding: 10px;
  height: 300px;
  width: 96%;
  overflow-y: scroll;
}

.innerText {
  resize: none;
  overflow-y: scroll;
  background-color: transparent;
  border: none;
  color: white;
  font-family: Montserrat;
}

.innerHeader {
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 20px;
}

/* Popup */
.editPopup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: auto;
}

.editPopup .popupForm {
  visibility: hidden;
  width: 500px;
  height: 600px;
  background-color: rgb(97, 97, 150);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  margin: auto;
  z-index: 1;
  margin-top: -600px;
}

.editPopup .showForm {
  visibility: visible;
}

#titlePopup {
  height: 30px;
  margin: 0px 20px 40px 20px;
}

#ingredientsPopup {
  height: 100px;
  margin: 00px 20px 40px 20px;
  overflow-y: scroll;
}

#directionsPopup {
  height: 130px;
  margin: 00px 20px 40px 20px;
  overflow-y: scroll;
}

#submitChangesPopup {
  display: block;
  margin: auto;
}

.popupText {
  width: 300px;
  margin: 10px 20px 40px 20px;
  margin: auto;
  resize: none;
  overflow-y: scroll;
  font-family: Montserrat;
}

.popUpButtons {
  display: inline-block;
  border: 0;
  background-color: rgb(8, 76, 97);
  color: white;
  font-family: Fugaz One;
  font-size: 30px;
  margin: 5px;
}

#closePopup {
  float: right;
  font-size: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.overlay.faded {
  z-index: 998;
  background: rgba(0, 0, 0, 0.4);
}
